.button-container {
    background-color: #2d2d2d; /* Slightly lighter background */
    border: 2px solid #6b46c1; /* Violet border */
    border-radius: 10px;
    padding: 8px; /* Reduce padding to bring the border closer */
    text-align: center;
    transition: all 0.2s ease-in-out;
  }
  
  .button-container:hover {
    background-color: #1a1a1a; /* Darker background on hover */
    transform: translateY(-2px);
  }
  
  button {
    padding: 10px 15px; /* Adjust button padding if needed */
    font-size: 1rem;
    font-weight: bold;
    color: #ffffff;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }